<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>리뷰 상세보기</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
</head>
<body th:align="center">
	<span th:text="${session['uservo'].nickname}"></span>
	<h1>리뷰 글 상세</h1>
	<form th:action="@{updateReviewView}" method="post">
		<input id="reviewId" name="reviewId" type="hidden"
			th:value="${reviewView.reviewId}"> <input id="userId"
			name="userId" type="hidden" th:value="${reviewView.uservo.userId}">
		<table th:align="center" border="1" th:cellpadding="0"
			th:cellspacing="0">
			<tr>
				<td bgcolor="oange" th:text="제목" width="80"></td>
				<!-- <td th:value="${joinReviewList.reviewRegistration.title}"></td> -->
				<td><input name="title" type="text"
					th:value="${reviewView.title}"></td>
			</tr>
			<tr>
				<td bgcolor="orange" th:text="작성자"></td>
				<!-- <td th:text="${joinReviewList.reviewRegistration.uservo.nickname}"></td> -->
				<td th:text="${reviewView.uservo.nickname}"></td>
			</tr>
			<tr>
				<td bgcolor="orange" th:text="장점"></td>
				<!-- <td><textarea name="content" th:text="${joinReviewList.advantages}" rows="10" cols="40"></textarea></td> -->
				<td><textarea name="advantages"
						th:text="${reviewView.advantages}" rows="10" cols="40"></textarea></td>
			</tr>
			<tr>
				<td bgcolor="orange" th:text="단점"></td>
				<td><textarea name="disadvantages"
						th:text="${reviewView.disadvantages}" rows="10" cols="40"></textarea></td>
			</tr>
			<tr>
				<td bgcolor="orange" th:text="등록일"></td>
				<!-- <td th:text="${reviewView.writeDate}"></td> -->
				<td th:text="${#dates.format(reviewView.writeDate,'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit"
					value="리뷰 수정"></td>
				<td colspan="2" align="right"><a th:href="@{/doReviewList}">리뷰
						목록</a></td>
				<td colspan="2" align="right"><a
					th:href="@{/deleteReviewView(reviewId=(${reviewView.reviewId}))}">리뷰
						삭제</a></td>

			</tr>
		</table>
	</form>
	<br>
	<div>
		<div align="center">
			<textarea rows="3" cols="60" id="inputContents" placeholder="상대 부모님이 궁금해요? 당신도 키보드 워리어가 될 수 있습니다."></textarea>
			<a id="addComment" href="#">댓글 등록</a><br>
			<input id="saveNickname"
			th:value="${session['uservo'].nickname}">
			
		</div>
	<br>	
	<table id="commentArea" th:align="center" border="1" th:cellpadding="0"
		th:cellspacing="0">
		
		<tr th:each="comment:${commentList}">			
			<td><span>번호</span></td>
			<td><span id="commentId" th:text="${comment.commentId}"></span></td>
			<td><span>내용</span></td>
			<td><span id="outputContents" th:text="${comment.contents}"></span></td>
			<td><span>닉네임</span></td>
			<td><span id="outputNickname" th:text="${comment.uservo.nickname}"></span></td>
			<td><a id="modifyComment" th:href="@{/modifyComment}">댓글 수정</a></td>
			<td><a id="deleteComment" th:href="@{/deleteComment}">댓글 삭제</a></td>
			
		</tr>
	</table>
	</div>

	<script th:inline="javascript">
	$(document).on('click', '#addComment', function(){
		var reviewId = $('#reviewId').val();
		var userId = $('#userId').val();
		var contents = $('#inputContents').val();		
// 		var nickname = $('#saveNickname').val();
		alert(reviewId);
		alert(userId);
		alert(contents);
// 		alert(nickname);
		$.ajax({
// 			type: 'POST',
			url: '/addComment2',
			data: {
				reviewId : reviewId,
				contents : contents,
				userId: userId
// 				nickname : nickname
				},
// 				dataType: 'json',
// 				contentType : "application/json; charset=UTF-8",
				success: function(result){
				alert(result)
				var a = '';
					if(result.length <1){
						a.push("등록된 댓글이 없습니다")
					} else {
						$(result).each(function(){
							
							a += "<td>";
							a += "<span id ='commentId' th:text='${comment.commentId}'>";
							a += "</span></td>";
							a += "<td>";
							a += "<span id = 'outputContents' th:text='${comment.contents}'>";
							a += "</span></td>";
							a += "<td>";
							a += "<span id = 'outputNickname' th:text='${nickname}'>";
							a += "</span></td>";
							a += "<td>";
							a += "<a id ='updateComment' th:href='@{/updateComment}'>댓글 수정</a>";
							a += "</td>"
							a += "<td>";
							a += "<a id ='deleteComment' th:href='@{/deleteComment}'>댓글 삭제</a>";
							a += "</td>";
// 							a += "<td>";
// 							a += "<a id ='addComment' th:href='@{/addComment}'>댓글 등록</a>";
// 							a += "</td>";
							
							
					});
					$("#commentArea").append(a);
				
					}
				},
				error: function(error){
					console.log("에러 : " + error);
				}
			});
		
		});
	
		
	
	</script>
	<script>

	$(document).ready(function(){
		function showCommentList(){
			$.ajax({
			url: "commentList",
			type: "GET",
			dateType: "json",
			success : function(result) {
				var cm= "";
					$(result).each(function(){
						a += "<td>";
						a += "<span id ='commentId' th:th:text='${comment.commentId}'>";
						a += "</span></td>";
						a += "<td>";
						a += "<span id = 'contents' th:text='${comment.contents}'>";
						a += "</span></td>";
						a += "<td>";
						a += "<span id = 'nickname' th:text='${nickname}'>";
						a += "</span></td>";
						a += "<td>";
						a += "<a id ='modifyComment' th:href='@{/modifyComment}'>댓글 수정</a>";
						a += "</td>"
						a += "<td>";
						a += "<a id ='deleteComment' th:href='@{/deleteComment}'>댓글 삭제</a>";
						a += "</td>"
// 						a += "<td>";
// 						a += "<a id ='addComment' th:href='@{/addComment}'>댓글 등록</a>";
// 						a += "</td>";
					});
					$("#commentArea").append(a);
				
					},
					error: function(error){
						console.log("에러 : " + error);							
				}
			})			
		}
	});
	</script>
	
	
</html>
