<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>캠페인 홈</title>
<link rel="stylesheet" href="/common/css/styles.css" th:href="@{/common/css/styles.css}" type="text/css">

<!-- Jquery 3.4.1 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Alertyfy.js-->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script> <!-- JavaScript -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css"/> <!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.min.css"/> <!-- default theme -->
</head>

<body>
	<div id="wrap" class="main">
		<div th:replace="/include/header.html :: header"></div>
		
		<div id="teb">	정렬
		<input type="radio" name="sort" value="recent" onclick="#"> 최신순
		<input type="radio" name="sort" value="end_date" onclick="#">
		마감 임박 순		<br><br><br><br><br><br><br><br>
		<hr></div>
		정렬
		<input type="radio" name="sort" id="recent" value="recent" checked> 최신순
		<input type="radio" name="sort" id="popluar" value="popular" > 인기순
		<input type="radio" name="sort" id="end_date" value="end_date"> 마감 임박순
		<hr>

</div>


	<th:block th:if="${session['advertisementvo'] != null}">
	<div align="right" >
	<a th:href="insertCampaign">캠페인 등록</a>
	</div>
	</th:block>
	<th:block th:if="${session['uservo'] != null}">
	<div align="right" >
	<a th:href="insertReview">리뷰 등록</a>
	</div>
	</th:block>
	<div id="sortedData">
		<table>
			<tr th:each="campaign:${campaignList}">
				<td><a th:href="@{getCampaign(campaignId=${campaign.campaignId})}" th:text="${campaign.title}"></a></td>
				<td th:text="${#dates.format(campaign.startDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(campaign.endDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${campaign.participants}"></td>
				<td th:text="${campaign.recruitment}"></td>
			</tr>
		</table>
	</div>


	<script>
    $(document).ready(function(){
        $("input[name=sort]").click(function(){
            var sortStyle = $(this).val(); 
            $.ajax({
                url:"/getCampaignListByRadio",
                type:"GET",
                data:{sort:sortStyle},
                dataType : "html",
                success : function(change){
					$("#sortedData").html(change)
                }
            })	
            
            if(sortStyle == "recent"){
				var alertText = "최신순"
            } else if (sortStyle == "end_date"){
                var alertText = "마감 임박순"
            } else if (sortStyle == "popular"){
                var alertText = "인기순"
            }
            
            alertify.set('notifier','position', 'bottom-right');
            alertify.set('notifier','delay', 2);
            alertify.success(alertText + ' 정렬이 완료되었습니다.');

        })
    })  
	</script>
</body>
</html>