/* Campaign.html CSS */
.camapignBtnDiv {
	float: right;
	margin-top: 7%;
	margin-bottom: -7%;
}

.campaignBtn {
	width: 105px;
	height: 35px;
	border-radius: 22.7px;
	border: solid 1px #ff4d80;
	background-color: #ff4d80;
	color: white;
	margin-left: -15%;
}

.campaignTop {
	font-family: NanumGothic;
	font-size: 18px;
	margin-bottom: 1%;
	float: left;
	width: 100%;
	margin-top: 10%;
    margin-left: 6%;
}

.campaignListDiv{
	margin-left: 5%;
}

.campaignUl {
	list-style: none;
	margin: 0;
	padding: 0;
}

.campaignLi {
	margin: 30 10 5 13;
	padding: 0 0 0 0;
	border: 0;
	float: left;
}

.campaignProfileImg {
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.campaignProfileName {
	font-size: 20px;
	font-family: NanumGothic;
	margin-left: 2%;
}

.campaignEndDate {
	font-size: 20px;
	font-family: NanumGothic;
	color: #ff4d80;
	line-height: 2;
	font-size: 20;
	font-weight: bold;
	margin-left: 30%;
}

.campaignThumImg {
	width: 450px;
	height: 450px;
	border-radius: 10%;
}

.campaignThumTitle {
	font-size: 20px;
	font-family: NanumGothic;
}

/* CampaignView.html CSS */
.campaignViewLeft {
	float: left;
	width: 65%;
	margin-left: 10%;
	margin-top: 7%
}

.campaignViewTitle {
	width: 514px;
	height: 37px;
	font-family: AppleSDGothicNeo;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.6;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	margin-bottom: 2%;
	width: 89%;
}

.campaignViewOptionTitle {
	width: 108px;
	height: 28px;
	font-family: AppleSDGothicNeo;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.27;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	margin-top: 1%;
}

.campaignViewContents {
	width: 1055;
	height: 170px;
	margin-top: 1%;
	resize: none;
	font-size: larger;
	border: 0px solid white;
	outline: none;
	font-family: AppleSDGothicNeo;
}

.campaignViewSubContents {
	width: 1040px;
	height: 30px;
	font-family: AppleSDGothicNeo;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.61;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

.campaignViewRight {
	margin-top: 1%;
	float: right;
	width: 20%;
	margin-right: 5%;
}

.campaignViewInnerSquare {
	margin-top: 49%;
	width: 350px;
	height: 300;
	border: solid 1px #e8e8e8;
}

.campaignViewButton {
	width: 350px;
	height: 47px;
	border-radius: 23.5px;
	background-color: #ff4d80;
	color: white;
	margin-top: 5%;
	font-size: medium;
	border: none;
}

.campaignViewRecruitment{
	color: #ff4d80;
	margin-left: 2%;
	margin-top: 2%;
	font-family: 'NanumBarunGothic';
	font-size: medium;
}

.campaignViewProfileImg{
	width: 35%;
	border-radius: 100%;
	margin-left: 33%;
	margin-top: 5%;"	
}

.campaignViewProfileName{
	font-size: large;
	font-weight: bold;
	text-align: center;
	margin-top: 5%;
	font-family: 'NanumBarunGothic';
}

.campaignViewProfileSubTitle{
	font-family: 'NanumBarunGothic';
	font-size: medium;
	margin-left: 9%;	
}

.campaignViewProfileSubContents{
	color: #ff4d80;
	margin-left: 2%;
	margin-top: 2%;
	font-family: 'NanumBarunGothic';
	font-size: medium; 	
}
/* CampaignView Modal CSS */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* CampaignWrite CSS */
.campaignWriteDiv {
	margin-left: 22%;
	margin-right: 15%;
	margin-top: 8%;
}

.campaignWriteTitle {
	width: 1025;
	height: 60;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
	font-size: large;
	font-family: AppleSDGothicNeo;
}

.campaignWriteFile {
	width: 250;
	height: 202px;
	border-radius: 10px;
	border: solid 1px #eeeeee;
	background-color: #eeeeee;
	margin-bottom: 3%;
	padding: .5em .75em;
	color: #fff;
}

.campaignWriteIntroduction {
	width: 750px;
	height: 200px;
	border-radius: 10px;
	border: solid 1px #a7a7a7;
	float: left;
	margin-bottom: 4%;
	font-size: large;
	margin-left: -101%;
}

.campaignWriteRecruitment {
	width: 300px;
	height: 50;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
}

.campaignWriteStartDate {
	width: 300px;
	height: 50;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-left: -180%;
	margin-bottom: 4%;
}

.campaignWriteEndDate {
	width: 300px;
	height: 50;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 4%;
	margin-left: -182%;
}

.campaignWriteOfferHistory {
	width: 1025;
	height: 55;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
	font-size: large;
	font-family: AppleSDGothicNeo;
}

.campaignWriteRemarks {
	width: 1025;
	height: 55;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
	font-size: large;
	font-family: AppleSDGothicNeo;
}

.campaignWriteInsertBtn {
	width: 100px;
	height: 40px;
	border-radius: 22.7px;
	border: solid 1px #ff4d80;
	background-color: #ff4d80;
	color: white;
	font-size: small;
	margin-left: 68%;
}

.campaignWriteCancelBtn {
	width: 100px;
	height: 40px;
	border-radius: 22.7px;
	border: solid 1px #ff4d80;
	background-color: #ffffff;
	color: #000;
	font-size: small;
}

/* CampaignModify CSS */
.campaignModifyTitle {
	width: 1025;
	height: 60;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
	font-size: large;
	font-family: AppleSDGothicNeo;
}

.campaignModifyIntroduction {
	width: 1025;
	height: 200px;
	border-radius: 10px;
	border: solid 1px #a7a7a7;
	float: left;
	margin-bottom: 4%;
	font-size: large;
	margin-left: 0;
}

.campaignModifyRecruitment {
	width: 300px;
	height: 50;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
}

.campaignModifyStartDate {
	width: 300px;
	height: 50;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-left: 7%;
	margin-bottom: 1%;
}

.campaignModifyEndDate {
	width: 300px;
	height: 50;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-left: 13%;
	margin-bottom: 1%;
}

.campaignModifyOfferHistory {
	width: 1025;
	height: 55;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
	font-size: large;
	font-family: AppleSDGothicNeo;
}

.campaignModifyRemarks {
	width: 1025;
	height: 55;
	border-radius: 30px;
	border: solid 1px #b5b5b5;
	margin-bottom: 2%;
	font-size: large;
	font-family: AppleSDGothicNeo;
}

.campaignModifySubmit {
	width: 100px;
	height: 40px;
	border-radius: 22.7px;
	border: solid 1px #ff4d80;
	background-color: #ff4d80;
	color: white;
	font-size: small;
	margin-left: 68%;
}

.campaignModifyCancleBtn {
	width: 100px;
	height: 40px;
	border-radius: 22.7px;
	border: solid 1px #ff4d80;
	background-color: #ffffff;
	color: #000;
	margin-left: 5px;
	font-size: small;
}

#wrap .footer-area .top-btn {
	background: url(../../images/Bobbing-icon.png) no-repeat 0 bottom;
	text-indent: -9999px;
	position: fixed;
	width: 75px;
	height: 75px;
	bottom: 0%;
	right: 0%;
	border: none;
}
