<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="common/css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$("#all").click(function(){
			$(".list-style01").show(1000);
			$(".list-style02").hide(1000);
		});
		$("#korean").click(function(){
			$(".list-style01").hide(1000);
			$(".list-style02").show(1000);
		});	
	});
</script>
</head>
<body>
<!-- 	<img -->
<!-- 		src="https://www.dropbox.com/s/kox326ah3lfunn6/%EB%A7%8C%EB%82%98%EB%B6%84%EC%8B%9D_%EB%8C%80%EC%B9%98%EC%97%AD1.png?dl=1" -->
<!-- 		width="1000" height="400"> -->
<!-- 	<!-- <img th:src="${review.img}" width="1000" height="400"> --> -->
<!-- 	<div class="123"> -->
<!-- 		<ol th:each=" uservo : ${uservo}"> -->
<!-- 			<li><img th:src="${uservo[2]}" width="100" height="100"></li> -->
<!-- 			<li th:text="${uservo[1]}"></li> -->
<!-- 			<li th:text="${uservo[3]}"></li> -->
<!-- 			<li th:text="${uservo[4]}"></li> -->
<!-- 		</ol> -->
<!-- 	</div> -->
<!-- 	<ul> -->
<!-- 		<li th:each="advvoList : ${advvoList}"><img -->
<!-- 			th:src="${advvoList[2]}"> <span th:text="${advvoList[1]}"></span> -->
<!-- 			리뷰수<span th:text="${advvoList[3]}"></span></li> -->
<!-- 	</ul> -->
<!-- 	<ul th:each="koreanreviewlist:${koreanReviewList}"class="list-style03"> -->
<!-- 		<li> -->
<!-- 			<div class="cont-txt"> -->
<!-- 				<p class="photo"> -->
<!-- 					<img th:src="${koreanreviewlist.}" /> -->
<!-- 				</p> -->
<!-- 				<a href="#" class="best01">베스트</a> -->
<!-- 				<ul class="info"> -->
<!-- 					<li>강남 | 강남불백</li> -->
<!-- 					<li>강남불백 다녀왔어요~!</li> -->
<!-- 					<li><img src="images/Bobbing-main-Circle-member.gif" /> 고유지니</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</li> -->
<!-- 	</ul> -->
	<ul class="list-style02">
		<li id="all">전체</li>
		<li><a href="#" id="korean">한식</a></li>
		<li><a href="#" >양식</a></li>
		<li><a href="#" >일식</a></li>
		<li><a href="#" >중식</a></li>
		<li><a href="#" >분식</a></li>
		<li><a href="#" >패스트푸드</a></li>
		<li><a href="#" >카페</a></li>
	</ul>
	<ul th:each="everything:${everything}"class="list-style01" >
		<li>
			<div class="cont-txt">
				<p class="photo">
					<img th:src="${everything[4]}" th:width="200" th:height="100"/>
				</p>
				<a href="#" class="best01">베스트</a>
				<ul class="info">
					<li><span th:text="${everything[1]}"></span> | <span>유저아이디</span></li>
					<li><span th:text="${everything[2]}"></span></li>
					<li><img src="images/Bobbing-main-Circle-member.gif" /> 고유지니</li>
				</ul>
			</div>
		</li>
	</ul>
	<hr>
	<ul th:each="businessone:${businessone}"class="list-style02" hidden>
		<li>
			<div class="cont-txt">
				<p class="photo">
					<img th:src="${businessone[4]}" th:width="200" th:height="100"/>
				</p>
				<a href="#" class="best01">베스트</a>
				<ul class="info">
					<li><span th:text="${businessone[1]}"></span> | <span>유저아이디</span></li>
					<li><span th:text="${businessone[2]}"></span></li>
					<li><img src="images/Bobbing-main-Circle-member.gif" /> 고유지니</li>
				</ul>
			</div>
		</li>
	</ul>
 
<img src="https://www.dropbox.com/s/kox326ah3lfunn6/%EB%A7%8C%EB%82%98%EB%B6%84%EC%8B%9D_%EB%8C%80%EC%B9%98%EC%97%AD1.png?dl=1" width="1000" height="400">
<!-- <img th:src="${review.img}" width="1000" height="400"> -->
<div class="123">
	<ol th:each=" uservo : ${uservo}" >
		<li><img th:src="${uservo.profile_img}" width="100" height="100"></li>
		<li th:text="${uservo.nickname}"></li>
		<li th:text="${uservo.following_count}"></li>
		<li th:text="${uservo.following_count}"></li>
		
	</ol>
</div>
<form action="/joinForm">
<button>join</button>
</form>
</body>
</html>