<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>밥빙이야</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	hi this is temporary index m :) thymeleaf --> jsp 可以 타임리프 입니다

	<img
		src="https://www.dropbox.com/s/kox326ah3lfunn6/%EB%A7%8C%EB%82%98%EB%B6%84%EC%8B%9D_%EB%8C%80%EC%B9%98%EC%97%AD1.png?dl=1"
		width="1000" height="400" align="top">

	</div>
	<form action="/joinForm">
	<button type="submit"  class="w3-button w3-block w3-black w3-ripple w3-margin-top w3-margin-bottom w3-round">JOIN</button>
	</form>
	<div class="form-group">
				<a class="w3-button w3-block w3-black w3-ripple w3-margin-top w3-round"
					href="/login">LOGIN</a>
			</div>


</body>
</html>