<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="common/css/styles.css">

<script type="text/javascript" th:inline="javascript">
	
$(function(){
	$('#reviewdiv').hide();
	$('#userdiv').hide();
	$('#advertisementdiv').hide();
	$('#campaigndiv').hide();
// 	var userSearch = [[${userSearch}]];
// 	$("${reviewSearch}"!= null){
// 		$("#reviewdiv").css({display:'block'});
// 	}
// 	$(userSearch != null){
// 		alert("did it come here?");
// 		$("#userdiv").css({display:'block'});
// 	}
// 	$("${advertisementSearch}"!= null){
// 		$("#advertisementdiv").css({display:'block'});
// 	}
	
	if([[${review}]] != null){
		$('#reviewdiv').show();
	} else if([[${userSearch}]] != null){
		$('#userdiv').show();
	} else if([[${advertisementSearch}]] != null){
		$('#advertisementdiv').show();
	}
});
</script>
<style>
#reviewdiv{display:none; }
#userdiv{display:none;} 
#advertisementdiv{display:none;}
.active{background-color:blue; color: white;}
.cont-area .info{overflow:hidden; align:center;}

/* .cont-area .list-style03 .cont-txt .photo{float: left; width: 20%} */
/* .cont-area .list-style03 .cont-txt .info{float: left; width: 20%} */
.cont-area .list-style03 #reviewlist{float: left; width: 21%; margin-right: 10px; padding-right: 0px}
.taewon{width: 100%}
</style>
</head>
<body>
	<div id="wrap" class="main">
		<div th:replace="/include/header.html :: header"></div>
		<br><br><br><br><br><br><br><br>
		<p th:text="${nothing}" th:align="center">
		
		<div class="cont-area info" id="reviewdiv">
		<h3>리뷰</h3>
			<ul class="list-style03">
				<li id="reviewlist" th:each="review:${review}">
					<div class="cont-txt">
						<p class="photo">
							<img th:src="${review.reviewImage}">
						</p>
						<a href="#" class="best02">베스트</a>
						<ul class="info">
							<li><span th:text="${review.reviewRegistrationvo.reviewPlace}"></span>|</li> 
							<li><span th:text="${review.reviewRegistrationvo.title}"></span></li>
							<li><img th:src="${review.reviewRegistrationvo.uservo.profileImg}"/> <span th:text="${review.reviewRegistrationvo.uservo.nickname}"></span></li>
						</ul>
					</div>
				</li>

			</ul>
		</div>
		<div class="cont-area" id="userdiv">
			<div class="cont-txtB">
				인기 유저 <a href="#" class="more-btn">더보기</a>
			</div>
			<ul class="list-style04-user">
				<li th:each="userSearch:${userSearch}"><a href="#"><img th:src="${userSearch[2]}"><span class="name"><span th:text="${userSearch[1]}"></span><span>팔로워</span>|<span th:text="${userSearch[3]}"></span>리뷰수<span th:text="${userSearch[4]}"></span></span><span class="btn02">팔로우</span></a></li>
			</ul>
			<div class="arr-area">
				<a href="#" class="arr-btn-left" onclick="click"></a> 
				<a href="#" class="arr-btn-right on"></a>
			</div>
		</div>
		
		<div id="campaigndiv">
			<h3>캠페인</h3>
			<hr>
		</div>
		
		<div class="cont-area" id="advertisementdiv">
		<h3>맛집</h3>
			<div class="cont-txtB">
				인기 맛집 <a href="#" class="more-btn">더보기</a>
			</div>
			<ul class="list-style04-restaurant">
				<li th:each="advvo:${advertisementSearch}"><a href="#"><img th:src="${advvo[2]}"><span th:text="${advvo[1]}" class="name"></span>리뷰수<span th:text="${advvo[3]}"></span><span class="btn02">담아두기</span></a></li>
			</ul>
			<div class="arr-area">
				<a href="#" class="arr-btn-left on" onclick="click"></a> 
				<a href="#" class="arr-btn-right"></a>
			</div>
		</div>
	</div>
		



<!-- 	<div id="wrap" class="main"> -->
<!-- 		<div th:replace="/include/header.html :: header"></div> -->
<!-- 		<table th:align="center" border="1"> -->
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th>id</th> -->
<!-- 					<th>country</th> -->
<!-- 					<th>capital</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
<!-- 			<tbody> -->
<!-- 				<tr th:each="review : ${data}"> -->
<!-- 					<td th:text="${review.reviewId}"></td> -->
<!-- 					<td th:text="${review.title}"></td> -->
<!-- 					<td th:text="${review.advantages}"></td> -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
<!-- 		</table> -->
<!-- 		<hr> -->

<!-- 		<ul> -->
<!-- 			<li th:each="i : ${#numbers.sequence(0,data.totalPages-1)}"> -->
<!-- 				<a th:href="@{/testsearch(page=${i})}" th:text="${i}" -->
<!-- 				th:classappend="${currentPage}==${i}?'active' : 'none'"></a> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 		<ul> -->
<!-- 			<li th:each="i : ${#numbers.sequence(0,result.totalPages-1)}"> -->
<!-- 				<a th:href="@{/search(page=${i})}" th:text="${i}" -->
<!-- 				th:classappend="${currentPage}==${i}?'active' : 'none'"></a> -->
<!-- 			</li> -->
<!-- 		</ul> -->
		<span th:text="${searchKeyword.types}"></span>
		<ul>
			<li th:each="i : ${review}">
		<span th:text="${searchKeyword.searchKeyword}"></span>
				<a th:href="@{/search(page=${i.totalPages},types=${searchKeyword.types}, searchKeyword=${searchKeyword.searchKeyword})}" th:text="${i.totalPages}"
				th:classappend="${currentPage}==${i.totalPages}?'active' : 'none'"></a>
			</li>
		</ul>


<!-- 	</div> -->
</body>
</html>