<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.demo.dao.UserMapper">

<select id="emailCheck" parameterType="String" resultType="int">
<![CDATA[
SELECT COUNT(*) 
		FROM uservo 
		WHERE user_email=#{user_email}
]]>
</select>

<!-- 회원가입 -->
<insert id="joinUser" parameterType="com.example.demo.domain.mypage.UserVO">
INSERT INTO uservo
			(
			user_email
			,nickname
			,password
			)
			VALUES
			(
			#{user_email}
			,#{nickname}
			,#{password}
			)

</insert>

<select id="nickCheck" parameterType="String" resultType="int">

SELECT COUNT(*) 
		FROM uservo 
		WHERE nickname=#{nickname}

</select>






</mapper>





















<!-- 
<select id="emailCheck2" parameterType="String" resultType="com.example.demo.domain.mypage.UserVO">

SELECT * 
		FROM uservo 
		WHERE user_email=#{user_email}

</select> -->
